In [2]:
import pandas as pd
patient_data = pd.read_csv("Patient_Data.csv")
patient_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PatientID       6 non-null      int64
 1   Name            6 non-null      object
 2   Department      6 non-null      object
 3   Doctor          6 non-null      object
 4   BillAmount      4 non-null      float64
 5   ReceptionistID  6 non-null      int64
 6   CheckInTime     6 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 468.0+ bytes

In [4]:
sample = patient_data[['PatientID','Department','Doctor','BillAmount']]
print(sample)

   PatientID   Department     Doctor  BillAmount
0        101   Cardiology  Dr. Smith      5000.0
1        102    Neurology   Dr. John         NaN
2        103  Orthopedics    Dr. Lee      7500.0
3        104   Cardiology  Dr. Smith      6200.0
4        105  Dermatology   Dr. Rose         NaN
5        101   Cardiology  Dr. Smith      5000.0

In [5]:
patient_data.drop(['ReceptionistID','CheckInTime'],axis = 1)

   PatientID     Name   Department     Doctor  BillAmount
0        101    Alice   Cardiology  Dr. Smith      5000.0
1        102      Bob    Neurology   Dr. John         NaN
2        103  Charlie  Orthopedics    Dr. Lee      7500.0
3        104    David   Cardiology  Dr. Smith      6200.0
4        105      Eva  Dermatology   Dr. Rose         NaN
5        101    Alice   Cardiology  Dr. Smith      5000.0

In [6]:
sample.groupby('Department')['BillAmount'].sum()

Department
Cardiology     16200.0
Dermatology        0.0
Neurology          0.0
Orthopedics     7500.0
Name: BillAmount, dtype: float64

In [7]:
sample.drop_duplicates(subset = ['PatientID'])

   PatientID   Department     Doctor  BillAmount
0        101   Cardiology  Dr. Smith      5000.0
1        102    Neurology   Dr. John         NaN
2        103  Orthopedics    Dr. Lee      7500.0
3        104   Cardiology  Dr. Smith      6200.0
4        105  Dermatology   Dr. Rose         NaN

In [8]:
sample = patient_data.drop(['ReceptionistID','CheckInTime'],axis = 1).copy()
sample['BillAmount'] = sample['BillAmount'].fillna(sample['BillAmount'].mean())
print(sample)

   PatientID     Name   Department     Doctor  BillAmount
0        101    Alice   Cardiology  Dr. Smith      5000.0
1        102      Bob    Neurology   Dr. John      5925.0
2        103  Charlie  Orthopedics    Dr. Lee      7500.0
3        104    David   Cardiology  Dr. Smith      6200.0
4        105      Eva  Dermatology   Dr. Rose      5925.0
5        101    Alice   Cardiology  Dr. Smith      5000.0

In [9]:
billing_data = pd.read_csv("Billing_Data.csv")
billing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PatientID         5 non-null      int64
 1   InsuranceCovered  5 non-null      int64
 2   FinalAmount       5 non-null      int64
dtypes: int64(3)
memory usage: 252.0 bytes

In [26]:
merged_data = pd.merge(sample,billing_data,on = "PatientID",how = "inner")
merged_data.drop_duplicates(inplace=True)
print(merged_data)

   PatientID     Name   Department     Doctor  BillAmount  InsuranceCovered  \
0        101    Alice   Cardiology  Dr. Smith      5000.0              2000
1        102      Bob    Neurology   Dr. John      5925.0              1500
2        103  Charlie  Orthopedics    Dr. Lee      7500.0              2500
3        104    David   Cardiology  Dr. Smith      6200.0              3000
4        105      Eva  Dermatology   Dr. Rose      5925.0              1000

   FinalAmount
0         3000
1         3500
2         5000
3         3200
4         4000

In [21]:
new_data = pd.DataFrame({"PatientID" : [106],"Name" : ["Anjali"],"Department" : ["Neurology"],"Doctor": ["Dr.John"],"BillAmount" : [6400],
                         "InsuranceCovered": [2000],"FinalAmount" : [3000]})
new_entry = pd.concat([merged_data,new_data],axis = 0,ignore_index = True)
print(new_entry)

   PatientID     Name   Department     Doctor  BillAmount  InsuranceCovered  \
0        101    Alice   Cardiology  Dr. Smith      5000.0              2000
1        102      Bob    Neurology   Dr. John      5925.0              1500
2        103  Charlie  Orthopedics    Dr. Lee      7500.0              2500
3        104    David   Cardiology  Dr. Smith      6200.0              3000
4        105      Eva  Dermatology   Dr. Rose      5925.0              1000
5        106   Anjali    Neurology    Dr.John      6400.0              2000

   FinalAmount
0         3000
1         3500
2         5000
3         3200
4         4000
5         3000

In [24]:
new_column = pd.DataFrame({"InsuranceCovered": [1000,500,2500,400,1000,1000],"FinalAmount" : [1000,2000,3000,2200,2000,1000]})
new_col = pd.concat([new_entry,new_column],axis = 1)
print(new_col)

   PatientID     Name   Department     Doctor  BillAmount  InsuranceCovered  \
0        101    Alice   Cardiology  Dr. Smith      5000.0              2000
1        102      Bob    Neurology   Dr. John      5925.0              1500
2        103  Charlie  Orthopedics    Dr. Lee      7500.0              2500
3        104    David   Cardiology  Dr. Smith      6200.0              3000
4        105      Eva  Dermatology   Dr. Rose      5925.0              1000
5        106   Anjali    Neurology    Dr.John      6400.0              2000

   FinalAmount  InsuranceCovered  FinalAmount
0         3000              1000         1000
1         3500               500         2000
2         5000              2500         3000
3         3200               400         2200
4         4000              1000         2000
5         3000              1000         1000

In [ ]:
#The Cardiology department generates the highest revenue of 16,200.
#Dr.Smith handles most of the patients are there are more cardiac patients.
#Revenue across departments depends on both the number of patients and the average bill amount.
#Cardiac patients form the majority, but Orthopedic patients also have strong potential to contribute to revenue growth.
#Insurance helps patients to cover the bill but still majority of bill is to be paid by patients.